exportPattern("^[[:alpha:]]+")
import(dplyr)
import(purrr)
import(tsne)
import(extraDistr)
import(tidyr)
import(ggplot2)
import(see)
export(likelihood)
export(get_linelist)
export(get_syndrome)
export(sim_outbreak)